@import "tailwindcss";

:root {
  --color-primary: #009dff; 
  --color-primary-hover: #0091eb; 
  --color-primary-transparent: #009dff69; 
  --color-second: #00e1ff; 
  --color-second-transparent: #00e1ff75;
  --color-merge: ( #009dff , #009dff); 
}
